@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mozilla+Headline:wght@200..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.btn:hover{
color:white !important;
background-color: transparent !important;
font-weight: 700;
}
/* header */
/* canvas */
.circle{
  height:50px;
  width: 50px;
  border-radius: 50px;
}
/* hover */
.circle:hover{
  background-color:#136ffe;
}
/* section4 */
.btn:hover{color:#136ffe !important;}
/* section5 */
.cir{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #136ffe;
}
.bi{
  font-size: 50px;
}
.total{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cir:hover{
background-color: #136ffe !important;
}
.bi:hover{
  color: aliceblue !important;
}
 @media screen and (min-width:320px) and (max-width:480px){
  /* header */
 .menu{
  display: none;
 }
.para p{
  font-size: 20px !important;

}
 }